<template>
  <div id="app">
  <v-app id="inspire">
    <v-navigation-drawer v-model="showLeft" app clipped left>
    menu
    </v-navigation-drawer>

    <v-app-bar app clipped-left color="blue-grey" dark>
      <v-app-bar-nav-icon @click.stop="showLeft = !showLeft"></v-app-bar-nav-icon>
      <v-toolbar-title>Toolbar</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          The content goes here
        </v-layout>
      </v-container>
    </v-content>

    <v-footer app color="blue-grey" class="white--text">
      <span>Bruce Hearder</span>
      <v-spacer></v-spacer>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</div>
</template>

<script>

export default {
  name: 'App',
  components: {

  },
  data: () => ({
    showLeft: true,
  }),
};
</script>
